@use '../abstracts/' as *;

.game {
	color: white;
	@include flex(column, center, center);

	img {
		height: 175px;
		width: 125px;
		margin: 2px;
	}

	@include lg() {
		padding: 10px;

		img {
			height: 145px;
			width: 95px;
			margin: 2px;
		}
	}

	@include md() {
		padding: 15px;

		img {
			height: 125px;
			width: 75px;
			margin: 2px;
		}
	}

	.users {
		height: 90%;
		width: 100%;
		@include flex(column, space-around, center);

		.dealer {
			width: 80%;
			height: 50%;
			@include flex(column, center, center);

			h2 {
				margin-bottom: 10px;
			}

			&__header {
				@include flex(row, space-around, center);

				& > * {
					margin: 5px;
				}
			}

			&__cards {
				display: flex;
			}
		}

		.players {
			width: 80%;
			height: 50%;
			@include flex(row, space-between, flex-start);
		}

		.player {
			@include flex(column, center, flex-start);

			&__header {
				height: 50px;
				@include flex(row, flex-start, center);

				& > * {
					margin: 10px;
				}
			}

			&__cards {
				display: flex;
			}
		}
	}

	.actions {
		@include flex(row, center, center);
		@include button($buttonColor1, $secondaryWidth, $secondaryHeight);

		@include lg() {
			.button {
				height: 60px;
				width: 60px;
			}
		}
		@include md() {
			.button {
				height: 50px;
				width: 50px;
			}
		}
		& > .button {
			font-style: italic;
			font-weight: 500;
			color: white;
		}
	}
	.none {
		display: none;
	}

	.priority {
		letter-spacing: 1px;
		padding: 2px 15px;
		color: black;
		background-color: white;
		border: 1px solid gray;
		border-radius: 10px;
	}

	.result {
		font-size: 1.5rem;
		margin-top: -30px;
		margin-bottom: 20px;
		text-align: center;
		color: white;
		font-weight: bold;
	}
}
