@use '../abstracts/' as *;

.joinChatContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;

	input {
		width: 250px;
		height: 40px;
		border: none;
		margin: 7px;
		border-radius: 5px;
		padding: 5px;
		font-size: 16px;

		&:focus {
			outline: none;
		}

		&:disabled {
			background-color: white;
		}
	}

	@include button($buttonColor1, $primaryWidth, $primaryHeight);
}

.error {
	text-align: center;
	color: black;
	animation: display 1s ease-in-out;
}

@keyframes display {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.dot {
	height: 3px;
	width: 3px;
	border-radius: 50%;
	background-color: black;
	display: inline-block;
	margin: 0 0.1rem;
	animation: scaling 1s ease-in-out infinite;

	&:nth-child(0) {
		animation-delay: 0s;
	}
	&:nth-child(1) {
		animation-delay: 0.2s;
	}
	&:nth-child(2) {
		animation-delay: 0.4s;
	}
	&:nth-child(3) {
		animation-delay: 0.6s;
	}
}

@keyframes scaling {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
	}
}

.hide {
	display: none;
}
.modal {
	position: absolute;
	bottom: 50%;
	z-index: 10;
	opacity: 1;
	padding: 10px;
	border-radius: 10px;
	background-color: white;
	font-size: 1.5rem;
	animation: linger 3s;
}

@keyframes linger {
	50% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
