@use './variables' as *;

@mixin lg() {
	@media (max-width: $lg) {
		@content;
	}
}

@mixin md() {
	@media (max-width: $md) {
		@content;
	}
}

@mixin button($value, $width, $height) {
	.button {
		width: $width;
		height: $height;
		margin: 7px;
		border: none;
		border-radius: 5px;
		padding: 5px;
		font-size: 16px;
		background: $value;
		color: #fff;
		cursor: pointer;

		&:hover {
			background: #2e7d32;
		}
	}
}

@mixin flex($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}
